{
  "openapi": "3.0.4",
  "info": {
    "title": "Nexrender API",
    "version": "2.0",
    "description": "REST API for the Nexrender cloud rendering platform, enabling programmatic control over After Effects template processing, job management, and asset handling.\n\nFeatures include:\n- Template upload and management (AEP, MOGRT, ZIP files)\n- Job creation and status monitoring with real-time progress\n- Font library management for typography consistency\n- Webhook notifications for job lifecycle events\n- Asset injection for dynamic content replacement\n\nAuthentication is required for all endpoints using Bearer token authorization.\n"
  },
  "servers": [
    {
      "url": "https://api.nexrender.com/api/v2",
      "description": "Production API server"
    }
  ],
  "tags": [
    {
      "name": "Managing Templates",
      "description": "Operations related to After Effects template registration, uploading, inspecting, and deletion."
    },
    {
      "name": "Rendering Jobs",
      "description": "Initiating, tracking, and troubleshooting rendering jobs."
    },
    {
      "name": "Fonts Management",
      "description": "Upload, list, and delete custom fonts used in After Effects templates."
    }
  ],
  "paths": {
    "/templates": {
      "get": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "List all templates"
      },
      "post": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Create or update template"
      }
    },
    "/templates/{id}": {
      "get": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Get template details"
      },
      "patch": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Update template"
      },
      "delete": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Delete template"
      }
    },
    "/templates/{id}/upload": {
      "put": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Get fresh upload URL for template file"
      },
      "get": {
        "tags": [
          "Managing Templates"
        ],
        "summary": "Get download URL for template file"
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Rendering Jobs"
        ],
        "summary": "List jobs"
      },
      "post": {
        "tags": [
          "Rendering Jobs"
        ],
        "summary": "Create new job"
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "Rendering Jobs"
        ],
        "summary": "Get job details"
      }
    },
    "/fonts": {
      "get": {
        "tags": [
          "Fonts Management"
        ],
        "summary": "List all fonts for team"
      },
      "post": {
        "tags": [
          "Fonts Management"
        ],
        "summary": "Upload new font"
      }
    },
    "/fonts/{id}": {
      "get": {
        "tags": [
          "Fonts Management"
        ],
        "summary": "Get font metadata"
      },
      "delete": {
        "tags": [
          "Fonts Management"
        ],
        "summary": "Delete font"
      }
    }
  }
}