openapi: 3.0.4
info:
  title: Nexrender API
  version: '2.0'
  description: Minimal valid OpenAPI file for Mintlify with ordered endpoints and
    correct tags.
servers:
- url: https://api.nexrender.com/api/v2
paths: !!python/object/apply:collections.OrderedDict
- - - /templates
    - post:
        summary: Create or update template
        description: Create or update template
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      get:
        summary: List all templates
        description: List all templates
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /templates/{id}
    - get:
        summary: Get template details
        description: Get template details
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      delete:
        summary: Delete template
        description: Delete template
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      patch:
        summary: Update template
        description: Update template
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /templates/{id}/upload
    - get:
        summary: Get download URL for template file
        description: Get download URL for template file
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      put:
        summary: Get fresh upload URL for template file
        description: Get fresh upload URL for template file
        tags:
        - Template Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /jobs
    - post:
        summary: Create new job
        description: Create new job
        tags:
        - Render Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      get:
        summary: List jobs
        description: List jobs
        tags:
        - Render Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /jobs/{id}
    - get:
        summary: Get job details
        description: Get job details
        tags:
        - Render Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /fonts
    - post:
        summary: Upload new font
        description: Upload new font
        tags:
        - Font Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      get:
        summary: List all fonts for team
        description: List all fonts for team
        tags:
        - Font Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
  - - /fonts/{id}
    - get:
        summary: Get font metadata
        description: Get font metadata
        tags:
        - Font Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
      delete:
        summary: Delete font
        description: Delete font
        tags:
        - Font Management
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
tags:
- name: Template Management
- name: Render Management
- name: Font Management
